{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

<script src="js/tracker.js"></script>

<script>
	console.log('Default attributes', ackeeTracker.attributes())
	console.log('Detailed attributes', ackeeTracker.attributes(true))

	ackeeTracker.create('https://ackee-analytics.netlify.app', {
	
	detailed: true,
	
	ignoreLocalhost: false,
	
	ignoreOwnVisits: true

	}).record('fe6e0e1f-c41e-4249-8a26-452e20bbc3d2')
</script>